@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, p, a, input, textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapped {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: violet;
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .logo {
  font-weight: 400;
  font-size: 1.3rem;
}

footer copyrigth .texto-footer {
  color: rgb(247, 179, 247);
  font-size: 0.85rem;
}

main {
  background-color: white;
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}
main .titulo-principal {
  color: violet;
  margin-bottom: 2rem;
}
main .contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
main .producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}
main .producto-detalles {
  background-color: violet;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
main .producto-titulo {
  font-size: 1rem;
}
main .producto-agregar {
  border: 0;
  background-color: white;
  border-radius: 2rem;
  color: violet;
  padding: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid white;
  transition: background-color 1s, color 0.6s;
}
main .producto-agregar:hover {
  color: white;
  background-color: violet;
}

nav .boton-menu {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.85rem;
  width: 100%;
}
nav .numerito {
  background-color: white;
  color: violet;
  padding: 0.15rem 0.25rem;
  padding-right: 0.3rem;
  border-radius: 0.4rem;
}
nav .boton-carrito.active .numerito {
  background-color: violet;
  color: white;
}
nav .boton-menu.active {
  background-color: white;
  color: violet;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
  position: relative;
}
nav .boton-menu.active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 -1rem 0 white;
}
nav .boton-menu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 1rem 0 white;
}
nav .boton-carrito {
  margin-top: 2rem;
  align-items: center;
}
nav .menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
nav .menu .bi-hand-index-thumb-fill, nav .menu .bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contenedor-carrito .carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedor-carrito .carrito-productos .carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: violet;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}
.contenedor-carrito .carrito-productos .carrito-producto .carrito-producto-imagen {
  max-width: 5rem;
  border-radius: 1rem;
}
.contenedor-carrito .carrito-productos .carrito-producto small {
  font-size: 0.85rem;
}
.contenedor-carrito .carrito-productos .carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: rgb(124, 0, 0);
  cursor: pointer;
}
.contenedor-carrito .carrito-vacio {
  color: violet;
  font-weight: 400;
}
.contenedor-carrito .carrito-vacio .bi-emoji-frown {
  color: violet;
  font-size: 1.5rem;
}
.contenedor-carrito .carrito-vacio .bi-emoji-smile {
  color: violet;
  font-size: 1.5rem;
}
.contenedor-carrito .carrito-acciones {
  display: flex;
  justify-content: space-between;
}
.contenedor-carrito .carrito-acciones-derecha {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedor-carrito .carrito-acciones-total {
  display: flex;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  border-radius: 0.5rem;
  justify-content: center;
}
.contenedor-carrito .carrito-acciones-vaciar {
  border: 0;
  background-color: rgb(240, 240, 240);
  padding: 1rem;
  border-radius: 0.5rem;
  color: violet;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
}
.contenedor-carrito .carrito-acciones-comprar {
  border: 0;
  background-color: violet;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
}
.contenedor-carrito .muchas-gracias {
  display: flex;
  justify-content: end;
  align-items: center;
}
.contenedor-carrito .muchas-gracias .imagen {
  margin: 0.3rem;
}
.contenedor-carrito .disabled {
  display: none;
}

/*# sourceMappingURL=style.css.map */
